</div>
<footer class="footer mt-5">
    <div class="content has-text-centered">
      <p>
        © 2023 <a href="https://andrewklenner.netlify.app/">Andrew Klenner</a>
      </p>
      <a href="https://github.com/atklenner/goodgames">GitHub Repo</a>
    </div>
  </footer>
  <script src="/js/main.js"></script>
</body>
</html>
