<%- include("./partials/header.ejs") %> <%- include("./partials/navbar.ejs") %>
<main class="section">
  <div class="container">
    <h1 class="title is-1">404</h1>
    <h2 class="subtitle">Why would you even think to do this?</h2>
  </div>
</main>
<%- include("./partials/footer.ejs") %>
