<%- include("./partials/header.ejs") %>
<main>
    <h1>Index</h1>
    <a href="/login">Log In</a>
    <a href="/signup">Sign Up</a>    
</main>
<script src="js/main.js"></script>
<%- include("./partials/footer.ejs") %>