<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Track What You Have Played</title>
    <link rel="stylesheet" href="css/normalize.css" />
    <link rel="stylesheet" href="css/milligram.min.css" />
    <link rel="stylesheet" href="css/style.css" />
</head>
<body>
    <main class="wrapper">
        <section class="container">
            <h1>Keep Track of What You Have Played</h1>
            <table>
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Genre</th>
                        <th>Rating</th>
                        <th>Completed</th>
                    </tr>
                </thead>
                <tbody>
                    <% for(let i = 0; i < games.length; i++) {%>
                        <tr>
                            <td><%= games[i].name %></td>
                            <td><%= games[i].genre %></td>
                            <td><%= games[i].rating || "Unrated" %></td>
                            <td><%= (games[i].completed) ? "Yes" : "No" %></td>
                        </tr>
                    <% } %>
                </tbody>
            </table>
        </section>
        <form class="container">
            <fieldset>
                <label for="name">Name</label>
                <input type="text" id="name">
                <label for="genre">Genre</label>
                <input type="text" id="genre">
                <label for="rating">Rating</label>
                <select id="rating">
                    <option value="Unrated">Unrated</option>
                    <option value="Did Not Like">Did Not Like</option>
                    <option value="It Was OK">It Was OK</option>
                    <option value="Liked It">Liked It</option>
                    <option value="Really Liked It">Really Liked It</option>
                    <option value="Loved It">Loved It</option>
                </select>
                <div class="float-right">
                    <input type="checkbox" id="completed">
                    <label class="label-inline" for="completed">Completed</label>
                </div>
                <input type="submit" class="button-primary" value="Submit">
            </fieldset>
        </form>
    </main>

    <script src="js/main.js"></script>
    </body>
    </html>